$border-radius: 12px;
$course-image-height: 172px;

.container {
  border-radius: $border-radius;
  border-width: 1px;
  border-color: red;
}

.courseImage {
  height: $course-image-height;
  background-color: red;
  object-fit: cover;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
}


