@import "../utils/variables";

.courses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: $gap-m;

  &::after {
    content: '';
    flex: auto;
  }
}

