@import "../utils/variables";

$gaps-count: $courses-per-row - 1;

.course {
  flex-basis: calc(100% / $courses-per-row - ($gap-m * $gaps-count / $courses-per-row));
  flex-grow: 1;
  padding-bottom: $gap-s;
  border-radius: $border-radius-m;
  box-shadow: 0 10px 13px -4px rgba($shadow-color, $shadow-opacity);
  cursor: pointer;
  background-color: $white;
  transition: all 0.5s;

  &:hover {
    box-shadow: 0 10px 13px -4px rgba($shadow-color, $shadow-opacity-hover);
    transform: scale(1.05);
  }
}

// decided to make like this, because 3 cards per row look ugly on the small screens :)
@media (max-width: 800px) {
  .course {
    flex-basis: calc(100% / 2 - ($gap-m * $gaps-count / $courses-per-row));
  }
}

@media (max-width: 600px) {
  .course {
    flex-basis: 100%;
  }
}

.img {
  height: $course-image-height;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: $border-radius-m;
  border-top-right-radius: $border-radius-m;
}

.title {
  padding: $padding-s $padding-m $padding-m;
}


