@import "../utils/variables";

.courses-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  gap: $gap-m;
  row-gap: $gap-m;
}

.courses-list::after {
  content: "";
  flex: auto;
}

