@import "../utils/variables";

.sidebar {
  min-width: $sidebar-width;
  box-sizing: border-box;
  height: fit-content;
  border-radius: $border-radius-m;
  border: $border-width solid  $border-color;
  padding: $padding-s;
}

// decided to make like this, because fixed width look ugly on the small screens :)
@media (max-width: 600px) {
  .sidebar {
    min-width: auto;
  }
}

.tag {
  display: block;
  width: 100%;
  padding: $padding-s;
  background-color: transparent;
  border-radius: $border-radius-s;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: rgba($green, 0.3);
  }
}

.tag_selected {
  background-color: $green;
  color: $white;

  &:hover {
    background-color: $green;
    text-decoration: underline;
  }
}


