//colors
$border-color: #CFCFE4;

$shadow-color: #23235F;
$green: #5FBF77;
$white: #FFFFFF;

//borders
$border-width: 1px;
$border-radius-m: 18px;
$border-radius-s: 12px;

// paddings
$padding-s: 12px;
$padding-m: 18px;

// gaps
$gap-l: 24px;
$gap-m: 18px;
$gap-s: 10px;

//other variables
$sidebar-width: 264px;
$course-image-height: 172px;
$loader-size: 80px;

$shadow-opacity: 0.19;
$shadow-opacity-hover: 0.29;



